VITE_API_URL = "https://rest.coincap.io/v3/"
VITE_API_KEY = 09d2br9717134845126ac3u940bbc93d72f...

# URL del proyecto en Supabase
VITE_SUPABASE_URL=https://placeholder-url.supabase.co

# Usa anon public key, NO la service_role
# La service_role es secreta (solo backend)
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...